body{
    background-color: rgb(161, 105, 213);
}

h1{
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    background-color: white;
    padding: 20px;
    width: 600px;
    height: 300px;
}